---
apiVersion: v1
kind: Service
metadata:
  name: mongo
spec:
  selector:
    matchLabels:
      app: expensy-mongo
    spec:
      containers:
      - name: mongo-container
        image: mongo
        ports:
        - containerPort: 27017
       
