---
apiVersion: v1
kind: Service
metadata:
  name: redis
  # annotations:
  #   prometheus.io/scrape: 'true'
  #   prometheus.io/port: 'YOUR_METRICS_PORT'    
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - port: 6379
